.content {
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 60px 0 60px;
  display: flex;
  flex-direction: column;
}
.content__container {
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 60px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(17, 17, 26, 0.1), 0 8px 24px rgba(17, 17, 26, 0.1),
    0 16px 48px rgba(17, 17, 26, 0.1);
  color: #1f3349;
  border-radius: 10px;
}
